* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Mukta", sans-serif;
}



.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.grad-bar {
  width: 100%;
  height: 0.5vh;
  background: linear-gradient(-45deg, #4BD3F2, #022A48);
  background-size: 400% 400%;
  -webkit-animation: gradbar 8s ease infinite;
  -moz-animation: gradbar 8s ease infinite;
  animation: gradbar 8s ease infinite;
}



.navbar {
  display: flex;
  grid-template-columns: space-between;
  align-items: center;
  height: 5vh;
  overflow: hidden;
}


.navbar .left {
  display: flex;
  align-items: center;
  /* justify-self: start; */
}

.navbar .left p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #022B48;
  /* justify-self: star&t; */
  padding-left : 10px;
}

.navbar .left img{
  height: 42px;
  width: auto;
  margin-left: 20px;
}


.navbar ul {
  list-style: none;
  display: flex;
  margin-left:auto;
  /* grid-template-columns: repeat(4, 150px);
  justify-self: end; */
  transition: color 0.3s ease-out;
}


.nav-item {
  margin: 0 10px;
}


.nav-item a {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.main{
  display: flex;
  /* flex-direction: column; */
  margin: 10px;
}

.infos{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  /* margin: 10px; */
  width: 100vh;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}


.infos p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #022B48;
  padding-left : 10px;
}


.infos p[class="title"]{
  font-size: 2rem;
  font-weight: 400;
  color: #022B48;
  text-align: center;
  padding-left : 10px;
}


.stats {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100vh;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}

.stats p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #022B48;
  padding-left : 10px;
}

.stats p[class="title"]{
  font-size: 2rem;
  font-weight: 400;
  color: #022B48;
  text-align: center;
  padding-left : 10px;
}




.bottom{
  margin-top: 25px;
  display: flex;
  flex-direction: column;


.map-reports-section {
  display: flex;
  flex-direction: row;
}

#map {
  width: 100vh;
  height: 73vh;
  margin-right: 10px;
  /* position: relative; */
}

.reports {
  color: #022B48;
  width: 100vh;
  margin-left: 10px;
  max-height: 73vh;
  overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);


a {
  text-decoration: none;
  color: #022B48;
}


.report-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom : 10px;
  }

.report-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
    

}

.report-card a {
  text-decoration: none;
  color: #000;
}


}



a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

