<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <title>Console admin</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/LogoTransparent.png') }}" type="image/x-icon">
</head>
<body>
    <h1>Console admin</h1>
    <a href="/admin/users">Users</a>
    <a href="/admin/reports">Reports</a>
    <a href="/admin/feedbacks">Feedbacks</a>
    <a href="/">Homepage</a>
</body>
</html>