<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer de mot de passe - SafetyMap</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/LogoTransparent.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/change_password.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div>
        <a href='/'>Retour à l'accueil ?</a>
    </div>
    <div class="change">
        <div class="container">
            <a href='/'>
                <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo">
            </a>
            <h1>Changer de mot de passe</h1>
            <form method="POST" action="/change_password/{{ token }}">
                <div class="form-group">
                    <div class="password-container">
                        <label for="password">Nouveau mot de passe :</label>
                        <input type="password" id="password" name="password" required>
                        <i id="togglePassword" class="fas fa-eye-slash show-password"></i>
                    </div>
                    <div class="password-container">
                        <label for="password_verif">Confirmer le nouveau mot de passe :</label>
                        <input type="password" id="password_verif" name="password_verif" required>
                        <i id="togglePasswordVerif" class="fas fa-eye-slash show-password"></i>
                    </div>
                </div>
                {% block error %}
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                {% endblock %}
                <input type="hidden" name="username" id="username" value="{{ username }}">
                <button type="submit">Changer !</button>
            </form>
            <script>
                function togglePasswordVisibility1() {
                    var passwordInput = document.getElementById('password');
                    var toggleButton = document.getElementById('togglePassword');
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        toggleButton.classList.remove('fa-eye-slash');
                        toggleButton.classList.add('fa-eye');
                    } else {
                        passwordInput.type = 'password';
                        toggleButton.classList.remove('fa-eye');
                        toggleButton.classList.add('fa-eye-slash');
                    }
                }
                document.getElementById('togglePassword').addEventListener('click', togglePasswordVisibility1);

                function togglePasswordVisibility2() {
                    var passwordInput = document.getElementById('password_verif');
                    var toggleButton = document.getElementById('togglePasswordVerif');
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        toggleButton.classList.remove('fa-eye-slash');
                        toggleButton.classList.add('fa-eye');
                    } else {
                        passwordInput.type = 'password';
                        toggleButton.classList.remove('fa-eye');
                        toggleButton.classList.add('fa-eye-slash');
                    }
                }
                document.getElementById('togglePasswordVerif').addEventListener('click', togglePasswordVisibility2);
            </script>
        </div>
    </div>
</body>
</html>