<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer de mot de passe - SafetyMap</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/LogoTransparent.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_password.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div>
        <a href='/'>Retour à l'accueil ?</a>
    </div>
    <div class="change">
        <div class="container">
            <a href='/'>
                <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo">
            </a>
            <h1>Changer de mot de passe</h1>
            <form method="POST" action="/edit_password">
                <div class="form-group">
                    <div class="password-container">
                        <label for="old_password">Ancien mot de passe :</label>
                        <input type="password" id="password1" name="old_password" required>
                        <i id="togglePassword1" class="fas fa-eye-slash show-password"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="password-container">
                        <label for="new_password">Nouveau mot de passe :</label>
                        <input type="password" id="password2" name="new_password" required>
                        <i id="togglePassword2" class="fas fa-eye-slash show-password"></i>
                    </div>
                </div>  
                <div class="form-group">
                    <div class="password-container">
                        <label for="new_password_verif">Confirmer nouveau mot de passe :</label>
                        <input type="password" id="password3" name="new_password_verif" required>
                        <i id="togglePassword3" class="fas fa-eye-slash show-password"></i>
                    </div>
                    {% for error in errors %}
                        <p class="error" style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>              
                <button type="submit">Changer !</button>

            </form>
            <script>
                function togglePasswordVisibility1() {
                    var passwordInput = document.getElementById('password1');
                    var toggleButton = document.getElementById('togglePassword1');
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        toggleButton.classList.remove('fa-eye-slash');
                        toggleButton.classList.add('fa-eye');
                    } else {
                        passwordInput.type = 'password';
                        toggleButton.classList.remove('fa-eye');
                        toggleButton.classList.add('fa-eye-slash');
                    }
                }
                document.getElementById('togglePassword1').addEventListener('click', togglePasswordVisibility1);

                function togglePasswordVisibility2() {
                    var passwordInput = document.getElementById('password2');
                    var toggleButton = document.getElementById('togglePassword2');
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        toggleButton.classList.remove('fa-eye-slash');
                        toggleButton.classList.add('fa-eye');
                    } else {
                        passwordInput.type = 'password';
                        toggleButton.classList.remove('fa-eye');
                        toggleButton.classList.add('fa-eye-slash');
                    }
                }
                document.getElementById('togglePassword2').addEventListener('click', togglePasswordVisibility2);


                function togglePasswordVisibility3() {
                    var passwordInput = document.getElementById('password3');
                    var toggleButton = document.getElementById('togglePassword3');
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        toggleButton.classList.remove('fa-eye-slash');
                        toggleButton.classList.add('fa-eye');
                    } else {
                        passwordInput.type = 'password';
                        toggleButton.classList.remove('fa-eye');
                        toggleButton.classList.add('fa-eye-slash');
                    }
                }
                document.getElementById('togglePassword3').addEventListener('click', togglePasswordVisibility3);

            </script>
        </div>
    </div>
</body>
</html>